/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(355, 70%, 54%);
    --first-color-alt: hsl(355, 66%, 50%);
    --title-color: hsl(355, 4%, 15%);
    --text-color: hsl(355, 4%, 35%);
    --text-color-light: hsl(355, 4%, 55%);
    --body-color: #fff;
    --container-color: #fff;
    --color-principal: #1F2933;
    --color-secundario: #059ed8;
    --blanco: #fff;
}

/*** HEROE ***/

.hero {
    position: relative;
    background: linear-gradient(to bottom, #1f2933 , #1f2933c5), url("../img/selecciona-tu-vehiculo/hero.avif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    height: 35%;
    letter-spacing: 2px;
    /*border-radius: 0 0 90% 90%/0 0 30% 30%;*/
    z-index: -2;
  }
  
  .hero:before {
    content:'';
    position: absolute;
      top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-degradado-01);
    z-index: -1;
  }
    .hero h1 {
    font-size: 1rem;
    line-height: 1.3;
    }
    .hero h1 span {
    font-size: 2rem;
    color: var(--blanco);
    border-bottom: 3px solid var(--blanco);
    padding-bottom: 9px;
    line-height: 3;
    }
    
    .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid var(--blanco);
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    }
    .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: var(--blanco);
    border: 3px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    }
    
    @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    }
    @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
    }
  
    @media screen and (max-width: 991px){
    .hero {
      position: relative;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      text-align: center;
      color: #fff;
      padding-top: 150px;
      height: 50%;
      letter-spacing: 2px;
      border-radius: 0 0 30% 10%/0 0 30% 0%;
    }
    .hero:before {
        border-radius: 0 0 90% 90%/0 0 30% 30%;
    }
  
      .hero h1 {
      font-size: 1rem;
      line-height: 1.3;
      }
      .hero h1 span {
      font-size: 1.2rem;
      color: var(--blanco);
      border-bottom: 3px solid var(--blanco);
      padding-bottom: 7px;
      line-height: 3;
      }
  
  }
    

  .wrapper {max-width:90em;
    margin:0 auto;
     display: -webkit-box;
display: -webkit-flex;
display: flex;
justify-content: center;
align-items: center; 
}

.items {
display: -webkit-box;
display: -webkit-flex;
display: flex;
flex-flow: wrap;
justify-content: center;
padding: 1rem 50px 40px 50px;
width: 100%;
transition: all 0.2s;
position: relative;

}



.item-image {
display: block;
width: 100%;
height: 270px;
object-fit: cover;
}

.item {
background: #fff;
box-shadow: 0 0 0 1px rgba(0,0,0,0.01),0 1px 2px rgba(0,0,0,0.07),0 5px 15px rgba(0,0,0,0.03);
margin-right: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin:0 1em 2em 1em;
}

.item-content {
display: -webkit-box;
display: -webkit-flex;
display: flex;
-webkit-box-flex: 1;
flex: 1 0 auto;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
margin-top: 0;
padding: 1.2rem;
width: 340px;
}

h4.item-title {
font-size: 1.25rem;
font-weight: 600;
color: #343538;
margin: 0.5rem 0 0.5rem;
}

.item-description {
font-size: 0.9375rem;
line-height: 1.5;
color: #8a8a8a;
margin: 0 0 1rem;
}

h5.item-category {
display: inline-block;
color: var(--color-secundario);
font-size: 1rem;
font-weight: 700;
letter-spacing: 1px;
/*text-transform: uppercase;*/
text-decoration: none;
margin: 0.5rem 0 0rem;
}